doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Contact
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Oleo+Script|Teko" )
    link(rel='stylesheet', href='css/contact.css')
  body
    nav
      .container
        //- Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.myBtn.three(href='/') Home
        //- Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.myBtn.three(href='/contact') Contact 
            li
              a.myBtn.three(href='/info') About
            li
              a.myBtn.three(href='/logout') Log Out
    .container
      .row
        .col-sm-12.col-xs-12
          h1.header-title Get in <span id='header'>Touch with me</span>
          hr
          .col-sm-12
            form.contact-form
              .col-sm-6
                .form-group
                  lable Your name
                  input#to.form-control(type='text', placeholder='Enter your name')
                .form-group
                  lable Your Email Address
                  input#subject.form-control(type='text',, placeholder='Enter your email', required)
                .form-group
                  lable Subject
                  input#subject.form-control(type='text',, placeholder='Enter the subject', required)
              .col-sm-6
                .form-group
                  lable Message
                  textarea#content.form-control(type='text', rows='6',, placeholder='Enter your message', required)
                  br
                  button.btn.btn-default.btn-send#send_email Send
                  span#message
    .container.contact-info
      .row
        .col-md-4.col-md-push-0.col-sm-8.col-xs-8.col-xs-push-2
          .box
            .icon
              .image
                i.fa.fa-envelope(aria-hidden='true')
              .info
                h3.title MAIL & WEBSITE
                p
                  i.fa.fa-envelope(aria-hidden='true')
                  |  &nbsp groupticketsns@gmail.com
                  br
            .space
        .col-md-4.col-md-push-0.col-sm-8.col-xs-8.col-xs-push-2
          .box
            .icon
              .image
                i.fa.fa-mobile(aria-hidden='true')
              .info
                h3.title CONTACT
                p
                  i.fa.fa-mobile(aria-hidden='true')
                  |  &nbsp 0622567845
                  br
            .space
        .col-md-4.col-md-push-0.col-sm-8.col-xs-8.col-xs-push-2
          .box
            .icon
              .image
                i.fa.fa-map-marker(aria-hidden='true')
              .info
                h3.title ADDRESS
                p
                  i.fa.fa-map-marker(aria-hidden='true')
                  |  &nbsp Amsterdam
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')