doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title About
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/info.css')

  body
    nav
      .container
        //- Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.myBtn.three(href='/') Home
        //- Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.myBtn.three(href='/contact') Contact 
            li
              a.myBtn.three(href='/info') About
            li
              a.myBtn.three(href='/logout') Log Out
    .container
      .row
        .col-sm-10.col-sm-push-0.col-xs-12
          h2 For people who doesn't know what group-tickets are:
          p If you can find 10 people who are traveling in the same day from the same station to the same one, you can all buy Group-Tickets for 7 euro each.
          h3 Advices:
          ul.a
            li Please be careful and don't pay via websites like paysafe.
            li For a group of ten ,one ticket costs 7 euro. 
            li You don't have to print the ticket anymore, It can be downloaded to the NS app.
            li Please ask for one ticket at a time. If You need more, comment multible times.
    
      script(src='js/jquery.min.js')
      script(src='js/bootstrap.min.js')