doctype html
html(lang='en')
    head
        title Jade
        link(rel='stylesheet', href='css/bootstrap.min.css')
        link(rel='stylesheet', href='css/routes.css')

    body
        .navbar-wrapper
            .container-fluid
                nav.navbar.navbar-fixed-top.myNav
                  .container
                    .navbar-header
                      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    #navbar.navbar-collapse.collapse
                      ul.nav.navbar-nav
                        li.active
                          a.navbar-brand(href='/') Home
                        li
                          a.navbar-brand(href='/contact') Contact
                        li
                          a.navbar-brand(href='/info') About
                      ul.nav.navbar-nav.pull-right
                        li.dropdown
                          a.navbar-brand.dropdown-toggle.active(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            | Signed in as  
                            span.caret
                          ul.dropdown-menu
                            li
                              a(href='#') Change Password
                            li
                              a(href='#') My Profile
                        li
                          a.navbar-brand(href='/logout') Logout
            .container-fluid
                .row
                    .col-xs-12.col-sm-12.col-md-12
                        .eef
                            .info.text-center
                              .container
                                .row
                                    each route in routes
                                        .col-xs-4.col-sm-4.col-md-4
                                            h3(style='margin-top:170px; color:#3498DB') #{route.from} To #{route.to}
                                            .item
                                            p <b>The route covers:</b> #{route.covers}
                                            li.dropdown
                                                a.dropdown-toggle(href='#', data-toggle='dropdown')
                                                  | Select a date
                                                  b.caret
                                                ul.dropdown-menu
                                                    each day in route.days
                                                        li
                                                            a(href='/view?dayId=' + day.id + '&routeId=' + route.id) #{day.date}

        script(src='js/jquery.min.js')
        script(src='js/bootstrap.min.js')