doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Routes
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/routes.css')

  body
    nav
      .container
        //- Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.myBtn.three(href='/') Home
        //- Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.myBtn.three(href='/contact') Contact 
            li
              a.myBtn.three(href='/info') About
            li
              a.myBtn.three(href='/logout') Log Out
    .container.wrapper
      .row
        each route in routes
          .col-md-4.col-md-push-0.col-sm-8.col-xs-8.col-xs-push-2
            .holder
              h3 #{route.from} To #{route.to}
              p <b>The route covers:</b> #{route.covers}
              li.dropdown
                a#dates.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Select a date
                b.caret
                ul.dropdown-menu
                  each day in route.days
                    li
                      a(href='/view?dayId=' + day.id + '&routeId=' + route.id) #{day.date}
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')