.myNav
{
    margin-bottom: 60px;

    color: #fff;
    border: none;
    background-color: #60c74e;
}

.navbar-brand
{
    color: white;
}

body
{
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;

    background-color: #f5f5f5;
}

.textarea
{
    font-family: 'Helvetica Neue',arial,sans-serif;
    font-size: 14px;
    line-height: 1.9;

    display: block;

    width: 100%;
    height: auto;
    min-height: 40px;
    margin: 10;
    margin-top: 20px;
    padding: 3px 10px 8px;

    resize: none;
    cursor: text;

    color: #2a2e2e;
    border: 0;
}
