html,
body {
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    /*css for full size background image*/
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/train1.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    margin: 0;
}


/* The navbar */

.navbar-brand {
    margin: 10px 40px;
    color: white;
}

.navbar-right {
    padding: 10px 40px;
}

.navbar-toggle {
    padding: auto 0;
    margin-top: 10px;
    margin-bottom: 0;
}

.navbar-toggle .icon-bar {
    background-color: white;
    margin-top: 10px;
}


/* Navbar links */

.myBtn {
    outline: none;
    border: none;
    display: block;
    cursor: pointer;
    background-color: transparent;
    position: relative;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.three {
    color: #fff;
    border-color: transparent;
}

.three:before,
.three:after {
    width: 0;
    height: 2px;
    content: " ";
    background-color: #0226d2;
    position: absolute;
    top: 0;
    left: 50%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}

.three:after {
    top: 100%;
}

.three:hover {
    letter-spacing: 1px;
    color: #ffc917;
    background-color: Transparent !important;
}

.three:hover:before,
.three:hover:after {
    width: 100%;
    left: 0;
}


/* Header */

h1 {
    color: #ffc917;
    font-weight: 700;
    font-size: 2em;
}


/* Content */

.content {
    font-size: 1.5em;
    margin-top: 13%;
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}


/* Learn more button */

.btn-lg {
    border: none;
    background-color: #0226d2;
    text-shadow: none;
    background-image: none;
    color: white;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 8px;
    margin-top: 10px;
}


/* All rights reserved */

p#name {
    width: 85%;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-size: 0.5em;
}