#regContainer
{
    margin-top: 3%;
}

.panel-login
{
    border-color: #ccc;
    /*   background-color: black;*/
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
       -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
            box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
}
.panel-login > .panel-heading
{
    text-align: center;
}
.panel-login > .panel-heading a
{
    font-size: 28px;
    font-weight: bold;

    -webkit-transition: all .1s linear;
       -moz-transition: all .1s linear;
            transition: all .1s linear;
    text-decoration: none;
}
.panel-login > .panel-heading a.active
{
    font-size: 34px;
}
.panel-login > .panel-heading hr
{
    clear: both;

    height: 1px;
    margin-top: 10px;
    margin-bottom: 0;

    border: 0;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, .15),rgba(0, 0, 0, 0));
    background-image:    -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,.15),rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,.15),rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,.15),rgba(0,0,0,0));
}
.panel-login input[type='text'],
.panel-login input[type='email'],
.panel-login input[type='password']
{
    font-size: 16px;

    height: 45px;

    -webkit-transition: all .1s linear;
       -moz-transition: all .1s linear;
            transition: all .1s linear;

    border: 1px solid #ddd;
}
.panel-login input:hover,
.panel-login input:focus
{
    border-color: #ccc;
    outline: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
.btn-login
{
    font-size: 14px;
    font-weight: normal;

    height: auto;
    padding: 14px 0;

    text-transform: uppercase;

    color: #fff;
    border-color: #2d92a9;
    outline: none;
    background-color: #3d9db3;
}
.btn-login:hover,
.btn-login:focus
{
    color: #fff;
    border-color: #53a3cd;
    background-color: #198da8;
}
.btn-register
{
    font-size: 14px;
    font-weight: normal;

    height: auto;
    padding: 14px 0;

    text-transform: uppercase;

    color: #fff;
    border-color: #1cb94a;
    outline: none;
    background-color: #17ae47;
}
.btn-register:hover,
.btn-register:focus
{
    color: #fff;
    border-color: #1ca347;
    background-color: #1ca347;
}

.fullscreen_bg
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: url('../img/login.jpg');
    background-repeat: repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.panel-heading a
{
    font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
    font-size: 48px;
    font-weight: bold;

    padding: 2px 0 10px 0;
    padding-bottom: 30px;

    text-align: center;

    color: rgb(6, 106, 117);
}

.panel-heading a
{
    background: -webkit-repeating-linear-gradient(-45deg,
    rgb(18, 83, 93) ,
    rgb(18, 83, 93) 20px,
    rgb(64, 111, 118) 20px,
    rgb(64, 111, 118) 40px,
    rgb(18, 83, 93) 40px);
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}
