.panel-white
{
    border: 1px solid #ddd;
}

.post .post-heading
{
    height: 95px;
    padding: 20px 15px;
}

.post .post-description
{
    padding: 15px;
}

.commentList
{
    overflow: auto;

    max-height: 200px;
    padding: 0;

    list-style: none;
}

.commentText p
{
    margin: 0;
}

#myPanel
{
    margin: 30px -180px 50px 170px;
    padding: 20px 20px 20px 20px;

    background-color: #95e1d3;
}

#my-btn
{
    border-radius: 6px;
    background-color: #fce38a;
}

body
{
    background-color: #eaffd0;
}

.myh3
{
    font-family: lobster;
}

.myNav
{
    margin-bottom: 60px !important;

    color: #fff !important;
    border: none;
    background-color: #60c74e;
}

.navbar-brand
{
    color: white;
}
